.quarto-code-tools-menu {
  position: relative;
  z-index: 9999 !important;
  cursor: pointer;
}

#quarto-sidebar {
  width: 300px !important; 
}

#quarto-margin-sidebar {
  width: 300px !important;
}

/
.quarto-container-fluid {
  max-width: 1600px !important; 
}

main.content {
  max-width: 1000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.listing-category, .code-copy-button, div.sourceCode {
  border-radius: 8px; 
  border: none;   
}

details.code-fold {
  border-radius: 8px;
  padding: 0.5em;
}
  /* background: #232629; */