#quarto-back-to-top {
  display: block !important;
}

#back-to-top-btn:hover {
  background-color: #1a5c38;
}

/* Transparent navbar */
.navbar {
  background-color: transparent !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* Dark mode navbar */
[data-bs-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

#quarto-sidebar {
  background: transparent !important;
}

body {
  font-size: 1.0rem;
  line-height: 1.8;
}

div.sourceCode {
  border-left: 3px solid #2c7a4b;
}

/* Code block font size */
div.sourceCode, pre.sourceCode {
  font-size: 0.75rem;
}

/* Output/result text */
/* Code output / result */
.cell-output pre,
.cell-output-stdout pre,
.cell-output-stderr pre,
.cell-output-display pre {
  font-size: 0.75rem !important;
  color: #6c757d;
  border-radius: 4px;
  padding: 0.75rem 1rem;
}
/* 
  background-color: #f8f9fa;
  border-left: 3px solid #dee2e6; */

/* Dark mode 
[data-bs-theme="dark"] .cell-output pre,
[data-bs-theme="dark"] .cell-output-stdout pre,
[data-bs-theme="dark"] .cell-output-stderr pre {
  color: #adb5bd;
  background-color: #2b2b2b;
  border-left: 3px solid #495057;
}
*/